<% if @database -%>
  <%= select("db_schema", "name",
    @database.schemas.collect(&:nspname)) %>
  <%= observe_field 'db_schema_name', :update => 'schema_select',
    :url => {:controller => 'databases', :action => 'schema_select'},
    :with => "'database_name=#{@database.name}&schema_name=' + encodeURIComponent(value)" %>
  <div id="tables">
    <%= render :partial => '/databases/tables_list' %>
  </div>
<% end -%>