<% if @tables -%>
  <ul>
    <% for table in @tables -%>
      <li><%= link_to table, {:controller => "tables", :action => "index",
        :database => @database.name, :table => table} %></li>
    <% end -%>
  </ul>
<% end -%>
